## Python Mini-Project: Data Clean-Up, Pt. 1

Pay close attention to the prompts to help guide you through this task.

In [30]:
# Dependencies
import pandas as pd
import csv
import numpy as np

In [31]:
# load CSV
file = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [32]:
# Read with pandas
survey_df = pd.read_csv(file, encoding = 'iso-8859-1', low_memory=False)
survey_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [33]:
# Inspect all columns
survey_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [34]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
# Use iloc to accomplish this (remember that you need to take the position of the rows and columns into account)
extract_df = survey_df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
extract_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [35]:
# Change "0" to "No" and "1" to "Yes" in response columns
# Hint use the df.replace function
extract_df = extract_df.replace({0:"No", 1:"Yes"})
extract_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [36]:
# Calculate total number of respondents in survey
# consider using the len() function
total_survey = len(extract_df)
total_survey

15620

In [37]:
# Extract rows corresponding only to people who attended a bootcamp
# Filter using df.loc on the AttendedBootcamp column
attended_df = extract_df.loc[extract_df["AttendedBootcamp"] == "Yes"]
attended_df.count()

Age                     818
AttendedBootcamp        953
BootcampFinish          933
BootcampFullJobAfter    635
BootcampLoanYesNo       934
BootcampPostSalary      330
BootcampRecommend       937
ChildrenNumber          148
CityPopulation          823
CodeEventBootcamp        27
CountryLive             825
EmploymentField         476
EmploymentStatus        792
Gender                  833
HasChildren             211
HoursLearning           925
Income                  430
JobRoleInterest         402
SchoolDegree            832
SchoolMajor             622
dtype: int64

In [38]:
# Calculate average age of attendees
# Pull out the `Age` series and take the average of it
avg_age = attended_df["Age"].mean()
avg_age

31.066014669926652

In [39]:
# Calculate how many people attended a bootcamp
# Count the values of the AttendedBootcamp column

total_attended = len(attended_df)
total_attended

953

In [40]:
# Calculate how many attendees hold degrees
# It is easier to do this with `value_counts() count values for the SchoolDegree column
school_degree = attended_df["SchoolDegree"].count()
school_degree

832

In [41]:
# Count the number of records where the person is a degree holder
# There are several ways to approach this. You can look for people who have degrees
# or for people who don't have degrees depending on the value of the SchoolDegree column
#hold_degree = attended_df.loc[(attended_df['SchoolDegree'] == "bachelor's degree") | 
#                              (attended_df['SchoolDegree'] == "master's degree (non-professional)") |
#                              (attended_df['SchoolDegree'] == "associate's degree") |
#                              (attended_df['SchoolDegree'] == "Ph.D."),
#                              "SchoolDegree"
#                             ]
#hold_degree = (attended_df.loc[attended_df['SchoolDegree'] != "some college credit, no degree", "SchoolDegree"]).count()                          
#print(hold_degree)

percent_hold_degree = (school_degree / total_attended) * 100
print(percent_hold_degree)

87.30325288562435

In [42]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
total_gender = attended_df["Gender"].count()
print(f'Gender Total : {total_gender}')

# total_male
male = len(attended_df.loc[attended_df["Gender"] == "male"])

# total_female
female = len(attended_df.loc[attended_df["Gender"] == "female"])

#total_nonbinary
nonbinary = total_gender - (male + female)

Gender Total : 833

In [43]:
# Calculate percentage of respondents who attended a bootcamp
percent_attended = (total_attended / total_survey) * 100
percent_attended

6.101152368758003

In [44]:
# Calculate percentage of respondents belonging to each gender
# male
percent_male = (male / total_gender) * 100
print(f'Total Male : {percent_male}')

# female
percent_female = (female / total_gender) * 100
print(f'Total Female: {percent_female}')

# Non_Binary
percent_nonbinary = (nonbinary / total_gender) * 100
print(f'Non-Binary : {percent_nonbinary}')

Total Male : 59.5438175270108
Total Female: 39.13565426170468
Non-Binary : 1.3205282112845138

In [45]:
# Calculate percentage of attendees with a college degree
# I'm not sure this is only counting the associate degree or 
college_count = len(attended_df.loc[(attended_df['SchoolDegree'] == "associate's degree")])
percent_college = (college_count / total_attended) * 100
print(percent_college)

3.3578174186778593

In [46]:
# Calculate average post-bootcamp salary
avg_salary = extract_df["BootcampPostSalary"].mean()
avg_salary

63740.50606060606

In [47]:
# Create a new table consolidating above calculations

summary_df = pd.DataFrame({"Total Surveyed" : [total_survey],
                            "Total Bootcamp Attendees" : [total_attended],
                             "% Attended Bootcamp" : [percent_attended],
                             "Avg. Age" : [avg_age],
                             "Has a degree" : [percent_hold_degree],
                             "% Male" : [percent_male],
                             "% Female" : [percent_female],
                             "%Non Gender Specific" : [percent_nonbinary],
                             "Avg. Post Bootcampe Salary" : [avg_salary]
                             })

summary_df

,Total Surveyed,Total Bootcamp Attendees,% Attended Bootcamp,Avg. Age,Has a degree,% Male,% Female,%Non Gender Specific,Avg. Post Bootcampe Salary
0,15620,953,6.101152,31.066015,87.303253,59.543818,39.135654,1.320528,63740.506061

In [48]:
# Improve formatting before outputting spreadsheet
summary_df["Total Surveyed"] = summary_df["Total Surveyed"].map("{:,}".format)
summary_df["% Attended Bootcamp"] = summary_df["% Attended Bootcamp"].map("{:,.2f}%".format)
summary_df["% Avg. Age"] = summary_df["Avg. Age"].map("{:,.2f}".format)
summary_df["Has a degree"] = summary_df["Has a degree"].map("{:,.2f}".format)
summary_df["% Male"] = summary_df["% Male"].map("{:,.2f}%".format)
summary_df["% Female"] = summary_df["% Female"].map("{:,.2f}%".format)
summary_df["Avg. Post Bootcampe Salary"] = summary_df["Avg. Post Bootcampe Salary"].map("{:,.2f}".format)




print(summary_df)

  Total Surveyed  Total Bootcamp Attendees % Attended Bootcamp   Avg. Age  \
0         15,620                       953               6.10%  31.066015

  Has a degree  % Male % Female  %Non Gender Specific  \
0        87.30  59.54%   39.14%              1.320528

  Avg. Post Bootcampe Salary % Avg. Age
0                  63,740.51      31.07

In [49]:
# Export to Excel
# Use df.to_excel to export to excel. Don't include the indexes

summary_df.to_excel("output/Bootcamppart1.xlsx", index=False)